 <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
  <% end %>

<script type="text/javascript">
  window.login_img = "<%= image_url('login_img.png') %>"
  window.splash_img = "<%= image_url('splash_img.png') %>"
  window.logo = "<%= image_url('logo.png') %>"
</script>

<div id="root">You failed!</div>