.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-left{
  display: flex;
  width:23%;
}

.footer-right{
  display: flex;
  width:23%;
}

.footer-title{
  justify-content: center;
  display: flex;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-top: 15px;
}

.footer-subtitle{
  justify-content: center;
  display: flex;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
}

.personal-links{
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.linkedin {
  padding-right: 20px;
}

