.login-container{
  -webkit-box-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  justify-content: center;
  position: absolute;
}

.img-container{
  display: flex;
  height: 100%;
  width: 55%;
}

.login-img{
  background-position: center;
  padding: 0;
  border: 0;
}
.input-container{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.login-img{
  height: 100%;
  width: 100%;
}

.login-title{
  font-family: "DIN Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  text-decoration: unset
}

.big-box {
  display: flex;
  background-color:white;
  flex-direction: column;
  width: 50%;
  justify-content: column;
}

.first-box{
  display: flex;
  height: 30%;
}

.third-box{
  display: flex;
  height: 30%;
}

.login-button{ 
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: normal;
  color:white;
  text-decoration: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
  min-width: 150px;
  background-color:#20ce99;
  width: 100px;
  margin-bottom: 10px;
}

.login-button:hover{
  cursor: pointer;
  background-color: darkcyan;
}

.demo-login{
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: normal;
  color:white;
  text-decoration: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  height: 45px;
  min-width: 150px;
  background-color:#20ce99;
  width: 100px;
}
.demo-login:hover{
  cursor: pointer;
  background-color:darkcyan;
}

.login-input{
  display: flex;
 border: 1px solid white;
  background-color: #fafafa;
  font-size: 13px;
  font-weight: 250;
  color: #040d14;
  border-radius: 4px;
  height: 45px;
  padding: 0 13px;
  width: 425px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.login-input:hover{
  background-color: white;
  border-color:lightgray;
}

.login-input:focus{
  outline: 2px  #20ce99;
  background-color: white;
  border-color:lightgray;
}

.label {
  font-family: "DIN Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

.login-errors{
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 2px 2px;
  padding: 2px 2px;
}

.half-box{
  display: flex;
  width: 30%;
}



