.news-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.news-title-main{
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:2px solid lightgray;
  border-top:2px solid lightgray;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news-inner-container{
  display: flex;
  flex-direction: column;
}

.news-source{
  font-size: 14px;
  font-weight: bold;
}

.news-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  font-family: "DIN Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 2%;
}

.news-box:hover{
  background-color: #fafafa;
}

.news-text{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.news-img{
  height: 110px;
  width: 110px;
  border-radius: 4px;
}

.news-link{
  position: absolute;
  width: 50vh;
  height: 10%;
}