.profile-container{
  display: flex;
  flex-direction: column;
  /* background-color: #1b1b1b; */
}

.profile-nav-container{
  display: flex;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 18px;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 25px;
  /* color: whitesmoke; */
}

.nav-buttons{
  display: flex;
  width: 15%;
  justify-content: flex-end;
}

.home-button{
  margin-right: 20px;
  text-decoration: none;
  /* color: whitesmoke; */
  font-weight: bold;
}

.home-button:hover{
  color: #20ce99
}

.logout-button{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logout-button:hover{
  color: #20ce99;
}

.profile{
  display: flex;
  height: 80%;
  width: 100%;
  /* justify-content: space-between; */
}

.profile-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  height: 100%;
}

.main-container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  /* margin-right: 100px; */
  margin-top: 50px;
}

/* .profile-3{
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.profile-3{
  margin-top: 50px;
}

.stock-links-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 200px;
  display: inline-block;
  align-items: center;
  width: 225px;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
}

.stock-portfolio{
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  border-bottom: 1px solid #f4f4f5;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stock-links{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-weight: 400;
}

.stock-links:hover{
  color:#20ce99;
}

.profile-4{
  display: flex;
  flex-direction: column;
  width:15%;
  height: 100%;
}

.graph-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.StockPage{
  width: 65vw;
  max-width: 1000px;
  /* border-bottom: 2px solid lightgray; */
  margin-right: 6vw;
}

.StockChart{
  width: 100%;
  height: 25vh;
}

.stock-info{
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 1000px;
  margin-right: 100px;
}

.company-info{
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 1000px;
}

.chart-buttons-container{
  display: flex;
  justify-content: space-between;
  width: 40%;
  max-width: 500px;
}

.chart-buttons{
  background-color: white;
  border: none;
  color: black;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  border-color: none;
}

.chart-buttons:hover{
  cursor: pointer;
  color: #20ce99;
}

.chart-buttons:focus{
  outline: none;
  border-color: none;
  color: #20ce99;
}

.chart-buttons:active {
  color: #21ce99;
}

.stockname{
  display: flex;
  margin: 0;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 34px;
  font-weight: 600;
}

.company-about-header{
  font-size: 26px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-weight: 500;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  margin-bottom: 10px;
}

.about-title{
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;

}

.stock-price{
  font-size: 18px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
}

.stock-change-container{
  display: flex;
}

.stock-change{
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 13px;
  margin-right: 5px;
}

.stock-change-percent{
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 13px;
}

div, p, button, input, span{
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
}

.company-about{
  margin-bottom: 30px;
}

.company-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-col1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-col2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-col3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-col4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subrow-title{
  font-weight: 600;
  font-size: 18px;
}

.inner-stat{
  font-size: 14px;
}

.transaction-container{
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.089);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  max-height: 500px;
  min-width: 25%;
  max-width: 300px;
  box-sizing: border-box

}

.transaction-header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.transaction-form-false, .transaction-form-true {
  width:100%;
  display:block;
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  height:40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.transaction-form-false:hover{
  width:100%;
  display:block;
  color: #21ce99;
  cursor: pointer;
  box-sizing: border-box;
}

.transaction-form-true{
  background-color: #21ce99;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
}

.transaction-shares-container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.transaction-input{
  text-align: right;
  width: 48%;
  border: none;
  background-color: #fafafa;
  border-radius: 2px;

}

.transaction-input:hover, .transaction-input:focus{
  cursor: pointer;
  border: 2px solid #21ce99;
}

.transaction-formtype{
  padding: 15px;
  height: 100%;
}

.transaction-span{
  font-size: 13px;
  font-weight: 600;
}

.transaction-span-form{
  font-size: 16px;
  font-weight: 600;
}

.transaction-errors{
  font-size: 13px;
  font-weight: 600;
}

.transaction-price, .transaction-total{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.transaction-price{
  border-bottom:1.5px solid #EEF1F7;
}

.transaction-submit-container{
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.transaction-button{
  width: 100%;
  background-color: #21ce99;
  outline: none;
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.transaction-button:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.transaction-buying-power{
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.transaction-buying-power-word{
  font-size: 14px;
  text-align: center;
}

.transaction-watchlist-button{
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

.watchlist-button{
  width: 90%;
  font-size: 14px;
  outline-color: #21ce99;
  color: #21ce99;
  padding: 7px;
  font-weight: 600;
  border-radius: 5px;
  border: 1.5px solid #21ce99;
}

.watchlist-button:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.transaction-shares-count{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.search-links{
  z-index: 5;
}







