.profile-container{
  display: flex;
  flex-direction: column;
}

.profile-nav-container{
  display: flex;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 18px;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 25px;
}

.nav-buttons{
  display: flex;
  width: 15%;
  justify-content: flex-end;
}

.home-button{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.home-button:hover{
  color: #20ce99
}

.logout-button{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logout-button:hover{
  color: #20ce99;
}

.search-bar{
  display:flex;
  width: 32%;
  border-radius: 4px;
  border: 2px solid #b1bfc4;
  outline: 0;
  margin-left: 10px;
  font-size: 16px;
  justify-content: flex-end;
  padding: 10px 10px;
  color: #040d14;
  font-weight: 250;
}

.search-bar:focus{
  background: white;
  box-shadow: 2.5px 2px 10px 4px #dbdbdb;
}

.profile{
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: space-between;
}

.profile-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 55%;
  margin-right: 100px;
  margin-top: 50px;
}

.profile-3{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stock-links-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  display: inline-block;
  align-items: center;
  width: 225px;
  max-height: 400px;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
}

.stock-portfolio{
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  border-bottom: 1px solid #f4f4f5;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stock-links{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-weight: 400;
}

.stock-links:hover{
  color:#20ce99;
}

.profile-4{
  display: flex;
  flex-direction: column;
  width:15%;
  height: 100%;
}

.graph-container{
  justify-content: center;
}

.chart-buttons-container{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.chart-buttons{
  background-color: white;
  border: none;
  color: black;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  border-color: none;
}

.chart-buttons:hover{
  color: #20ce99;
}

.chart-buttons:focus{
  outline: none;
  border-color: none;
}

.stockname{
  display: flex;
  margin: 0;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 18px;
}

