.signup-block {
  background-color: white;
  border-radius: 20px;
}

.signup-border{
  background-color:#77dd77;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title{
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.signup-subtitle{
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-size: 20px;
}

.name{
  display: flex;
  justify-content: center;
  border-radius: 4px;
  height: 25px;
}

.login-input{
  display: flex;
  justify-content: space-evenly;
}

.signup-button{
  background-color: lightseagreen;
  border-radius: 4px;
}

.name-container{
  display: flex;
  justify-content: space-evenly;
}

