.signup-container {
  display: flex;
  justify-content: column;
}

.signup-image{
  width: 10%;
}

.signup-border{
  background-color:white;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.signup-title{
  display: flex;
  font-size: 25px;
  justify-content: center;
  font-weight: 122px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.signup-subtitle{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 100px;
  font-family: "Maison Neue","Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
.name-container{
  display: flex;
  justify-content: end;
}

.name{
  display: flex;
  justify-content: center;
  height: 25px;
  border-radius: 4px;
}

.login-email{
  display: flex;
  justify-content: space-evenly;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  height: 25px;
  width: 457px;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 4px;
}

.login-password{
  display: flex;
  justify-content: space-evenly;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  height: 25px;
  width: 457px;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 4px;
}

.login-input{
  display: flex;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  height: 25px;
  width: 225px;
  border-radius: 1px;
}

.signup-button{ 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  width: 457px;
  background-color:  #20ce99;
  font-size: 18px;
}

.signup-button:hover{
  cursor: pointer;
  background-color:gold;
}

.login-buying-power{
  display: flex;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  height: 25px;
  width: 500x;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 4px;
}


