.splash-page-container{
  display: flex;
  justify-content: space-around;
  background-color: #20ce99;
  height: 600px;
  width:100%;
 
} 

.splash-left-layout{
  width: 10%;
}

.splash-right{
  width:55%;
} 
.splash-titles-container{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 30px;
}

.splash-signup {
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: normal;
  color:white;
  margin: 0px;
  text-decoration: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  min-width: 150px;
  background-color: rgb(36, 42, 45);
  width: 100px;
}

.splash-signup:hover{
  cursor: pointer;
  background-color: black;
}

.splash-title{
  display: flex;
  font-size: 70px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 10px;
}

.splash-subtitle {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 100;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15pxpx;
  font-style: normal;
}

.nav-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkedin{
  padding-right: 5px;
}

