.splash-page-container{

}

.splash-signup {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: #20ce99;
    margin: 0px;
    text-decoration: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    min-width: 150px;
    background-color: rgb(36, 42, 45);
}

.splash-signup:hover{
  cursor: pointer;
  background-color: teal;
}

.splash-title{
  display: flex;
  justify-content: center;
  background-color: lightgreen;
  size: 100px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

.splash-subtitle {
  display: flex;
  justify-content: center;
  height: 50px;
  font-family: "Maison Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}